<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Projects - Alviss Raghnall's Portfolio</title>
    <link rel="stylesheet" href="public/css/main.css">
    <link rel="stylesheet" href="public/css/projects.css">
</head>

<body>
    <header>
        <nav class="bg-white shadow-lg">
          <div class="max-w-6xl mx-auto px-4">
            <div class="flex justify-between">
              <div class="flex space-x-7" style="justify-content: space-between;width: 100%;">
                <!-- LOGO -->
                <div>
                <a href="/" class="flex items-center py-4 px-2">
                  <img src="public/assets/code-img.png" alt="" class="code-logo">
                  <span class="font-semibold text-gray-500 text-lg"
                                    > Alviss Raghnall </span
                                >
                </a>
                        </div>
          <!-- Primary Navbar items -->
                        <div class="hidden md:flex items-center space-x-3">
                            <a
                                href="/"
                                class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300"
                                >Home</a
                            >
                            <a
                                href="projects"
                                class="py-4 px-2 text-green-500 border-b-4 border-green-500 font-semibold"
                                >Projects</a
                            >
                            <a
                                href="about"
                                class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300"
                                >About</a
                            >
                            <a
                                href="contact-me"
                                class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300"
                                >Contact Me</a
                            >
                <a
                                href="articles"
                                class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300"
                                >Articles</a
                            >
                        </div>
              <div class="md:hidden flex items-center">
                <button class="outline-none mobile-menu-button">
                  <svg class=" w-8 h-8 text-gray-500 hover:text-green-500 "
                                x-show="!showMenu"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                            >
                                <path d="M4 6h16M4 12h16M4 18h16"></path>
    
                </button>
              </div>
            </div>
                </div>
          <!-- mobile menu -->
                <div class="hidden mobile-menu">
                    <ul class="">
                        <li><a href="/" class="block mobo-link text-sm px-2 py-4 hover:bg-green-500 transition duration-300">Home</a></li>
                        <li class="active"><a href="projects" class="block mobo-link text-sm px-2 py-4 text-white bg-green-500 font-semibold ">Projects</a></li>
                        <li><a href="about" class="block mobo-link text-sm px-2 py-4 hover:bg-green-500 transition duration-300">About</a></li>
                        <li><a href="contact-me" class="block mobo-link text-sm px-2 py-4 hover:bg-green-500 transition duration-300">Contact Me</a></li>
                        <li><a href="articles" class="block mobo-link text-sm px-2 py-4 hover:bg-green-500 transition duration-300">Articles</a></li>
                    </ul>
                </div>
            </div>
        </nav>
      </header>

      <section class="projects-section">
        <p class="text-7xl font-sans font-bold text-center text-uppercase">
            My Projects
        </p>
        <div class="projects-wrapper mt-4 pt-5 flex justify-evenly mx-auto">
            <div id="mt100m" class="p-6 max-w-md mb-4 w-1/2 mx-1 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
                <a href="http://github.com/alvissraghnall/mytop100movies">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"> MyTop100Movies </h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"> A Project querying some postgresql database; storing, and and updating a user's top 100 movies (uses Authentication tokens) </p>
                <a class="inline-flex text-white items-center py-2 px-3 mb-2 text-sm font-medium text-center text-white bg-slate-600 rounded-lg hover:bg-slate-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Typescript
                </a>
                <a class="inline-flex text-white items-center py-2 px-3 mb-2 text-sm font-medium text-center text-white bg-slate-600 rounded-lg hover:bg-slate-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Javascript
                </a>
                <a class="inline-flex text-white items-center py-2 px-3 mb-2 text-sm font-medium text-center text-white bg-slate-600 rounded-lg hover:bg-slate-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Sequelize
                </a>
                <a class="inline-flex text-white items-center py-2 px-3 mb-2 text-sm font-medium text-center text-white bg-slate-600 rounded-lg hover:bg-slate-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Express
                </a>
                <a class="inline-flex text-white items-center py-2 px-3 mb-2 text-sm font-medium text-center text-white bg-slate-600 rounded-lg hover:bg-slate-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    JWTs
                </a>
            </div>
            <div id="typeorm-api" class="p-6 mb-4 max-w-md w-1/2 mx-1 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
                <a href="http://github.com/alvissraghnall/typeorm-ts-express-api">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"> User RESTful API </h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"> A RESTful API storing Users, and Transactions they performed built with Express, TypeORM && Typescript. </p>
                <a class="inline-flex text-white items-center py-2 px-3 mb-2 text-sm font-medium text-center text-white bg-slate-600 rounded-lg hover:bg-slate-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Typescript
                </a>
                <a class="inline-flex text-white items-center py-2 px-3 mb-2 text-sm font-medium text-center text-white bg-slate-600 rounded-lg hover:bg-slate-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    TypeORM
                </a>
                <a class="inline-flex text-white items-center py-2 px-3 mb-2 text-sm font-medium text-center text-white bg-slate-600 rounded-lg hover:bg-slate-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    JWTs
                </a>
                <a class="inline-flex text-white items-center py-2 px-3 mb-2 text-sm font-medium text-center text-white bg-slate-600 rounded-lg hover:bg-slate-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Express
                </a>
            </div>
        </div>
        <div class="projects-wrapper pt-5 flex justify-evenly mx-auto">
            <div id="deriv-clone" class="p-6 mb-4 max-w-md w-1/2 mx-1 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
                <a href="http://github.com/alvissraghnall/deriv-clone">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"> Deriv Clone </h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"> Clone of the popular FX Brokerage Web App, Deriv. </p>
                <a class="inline-flex text-white items-center py-2 px-3 mb-2 text-sm font-medium text-center text-white bg-slate-600 rounded-lg hover:bg-slate-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Svelte
                </a>
                <a class="inline-flex text-white items-center py-2 px-3 mb-2 text-sm font-medium text-center text-white bg-slate-600 rounded-lg hover:bg-slate-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    svelte-router-spa
                </a>
            </div>
            <div id="recipe-app" class="p-6 mb-4 max-w-md w-1/2 mx-1 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
                <a href="http://github.com/alvissraghnall/recipe-app">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"> Recipe App </h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"> Recipe App with Login && Registration built with Vue. A live demo can be found <a class="hover:text-blue-500 transition duration-300" href="http://recipe-app.vercel.com"> here </a> </p>
                <a class="inline-flex text-white items-center py-2 px-3 mb-2 text-sm font-medium text-center text-white bg-slate-600 rounded-lg hover:bg-slate-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Vue
                </a>
                <a class="inline-flex text-white items-center py-2 px-3 mb-2 text-sm font-medium text-center text-white bg-slate-600 rounded-lg hover:bg-slate-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    BalmUI
                </a>
                <a class="inline-flex text-white items-center py-2 px-3 mb-2 text-sm font-medium text-center text-white bg-slate-600 rounded-lg hover:bg-slate-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Vue-Router
                </a>
                <a class="inline-flex text-white items-center py-2 px-3 mb-2 text-sm font-medium text-center text-white bg-slate-600 rounded-lg hover:bg-slate-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    vue-class-components
                </a>
            </div>
        </div>
        <div class="projects-wrapper pt-5 flex justify-evenly mx-auto">
            <div id="tv-show-tracker" class="p-6 mb-4 max-w-md w-1/2 mx-1 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
                <a href="http://github.com/alvissraghnall/tv-show-tracker.git">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"> TV Show Tracker </h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"> TV Show Tracker App connecting to thetvdb's API built with Spring Boot. </p>
                <a class="inline-flex text-white items-center py-2 px-3 mb-2 text-sm font-medium text-center text-white bg-slate-600 rounded-lg hover:bg-slate-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Java
                </a>
                <a class="inline-flex text-white items-center py-2 px-3 mb-2 text-sm font-medium text-center text-white bg-slate-600 rounded-lg hover:bg-slate-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Spring Boot
                </a>
            </div>
            <div id="premier-league-sim" class="p-6 mb-4 max-w-md w-1/2 mx-1 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
                <a href="http://github.com/alvissraghnall/premier-league-simulator">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"> Premier League Simulator </h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"> Premier League Simulator built with Spring Boot && Thymeleaf. </p>
                <a class="inline-flex text-white items-center py-2 px-3 mb-2 text-sm font-medium text-center text-white bg-slate-600 rounded-lg hover:bg-slate-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Java
                </a>
                <a class="inline-flex text-white items-center py-2 px-3 mb-2 text-sm font-medium text-center text-white bg-slate-600 rounded-lg hover:bg-slate-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Spring Boot
                </a>
                <a class="inline-flex text-white items-center py-2 px-3 mb-2 text-sm font-medium text-center text-white bg-slate-600 rounded-lg hover:bg-slate-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Thymeleaf
                </a>
            </div>
        </div>
      </section>

      <script src="public/js/index.js"></script>
      <script src="public/js/projects.js"></script>
</body>

</html>
https://github.com/alvissraghnall/tv-show-tracker.git
